/* Styles extraídos de index.html */
.bg-imagem {
  /* caminho relativo ao arquivo CSS: voltar uma pasta para acessar /img */
  background: url("../img/img_loginV4.jpg") no-repeat center center/cover;
  color: white;
  width: 100%;
  }

.login-box {
  background-color: rgba(49, 49, 49, 0.9);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 0 20px rgba(253, 100, 100, 0.226);
  width: 100%;
  max-width: 400px;
}

.logo {
  width: 180px;
  display: block;
  margin: 0 auto 20px auto;
}
